:8080 {
	root * /srv/front

	@forbidden_admin_api {
		path /api/admin* /api/auth/admin*
	}
	handle @forbidden_admin_api {
		respond "Forbidden" 403
	}

	@api path /api/*
	handle @api {
		reverse_proxy {env.SERVER_URL}
	}

	handle_path /zero-cache {
		reverse_proxy {env.ZERO_CACHE_URL}
	}

	@static file {
		root /srv/front
	}
	handle @static {
		try_files {path} /index.html
		file_server {
			precompressed br gzip
		}
	}

	handle {
		try_files {path} /index.html
		file_server {
			precompressed br gzip
		}
	}
}

:8081 {
	root * /srv/admin

	@api path /api/*
	handle @api {
		reverse_proxy {env.SERVER_URL}
	}

	handle_path /zero-cache {
		reverse_proxy {env.ZERO_CACHE_URL}
	}

	@static file {
		root /srv/admin
	}
	handle @static {
		try_files {path} /index.html
		file_server {
			precompressed br gzip
		}
	}

	handle {
		try_files {path} /index.html
		file_server {
			precompressed br gzip
		}
	}
}